html {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
}
.flex {
    display:flex;
}
.row-center {
    align-items: center;
}
.column-center {
    justify-content: center;
}
.column-end {
    justify-content: flex-end;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
